@import url(rainbow.css);

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button-small radius {
	border-radius: 10px;
	border-color: #0026ff;
}

.button-large radius {
	border-radius: 30%;
}

.red {
	background-color: #ff0000;
}

td{
	padding:20px;
}

table{
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6{
	text-align:center;
}

.cheeseburger{
	background-color: rgb(141, 9, 9);
	color: white;
	border: 1px solid black;
	border-radius: 20%;

}

.apple {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #ff1100;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}

.pepper {
	box-shadow:inset 0px 1px 0px 0px #e184f3;
	background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
	background-color:#c123de;
	border-radius:6px;
	border:1px solid #a511c0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
}

.title{
	color: red;
	font-family: 'Trebuchet MS', sans-serif; 
  }
  
  .title-large {
	font-size: 2rem;
}
  
  .title-small {
	font-size: .5rem;
}

  #morecontent {
	background-color: yellow;
}

#hireButtons{
background-color: blue;
}

#footerTable{
background-color: #4CAF50;
}

img {
	width: 100%
}

#knowledge > * {
	border: 3px red solid;
}   

   p + * {
	background-color: #ffff00;
}


div li::marker{
	color: red;
}

div li::marker{
	content:"😜 ";
}
   
#rainbow td:hover {
	background-color: black;
}

div:hover {
	background-color: rgb(145, 145, 233);
}

ul li:first-child {
	color: rgb(201, 48, 193);
}

ul {
	display: none;
	background-color: yellow;
	padding: 20px;
  }
  
  div:hover ul {
	display: block;
  }