@import url(rainbow.css);

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button-smallRadius {
	border-radius: 8px;
}

.button-largeRadius {
	border-radius: 30%;
}

.red {
	background-color: #ff0000;
}

td{
	padding:20px;
}

table{
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6{
	text-align:center;
}

.mybutton1{
	background-color: red;
	color: white;
	border: 2px solid black;
	border-radius: 100%;
	padding: 10px;
}

.mybutton2{
	background-color: yellow;
	color: black;
	border: 2px solid black;
	border-radius: 200%;
	padding: 25px;
	rotate: 90deg;
}

.mybutton3{
	background-color: blue;
	color: black;
	border: 3px solid black;
	padding: 5px;
}

.title{
	color: red;
	font-family: 'Trebuchet MS', sans-serif;
   }
   
   .title-large {
		font-size: 2rem;
		color: red;
   }
   
   .title-small {
		font-size: .5rem;
   }
   
   #morecontent {
		background-color: yellow;
  }

#hireButtons {
	background-color: red;
}

div li::marker{
	color: red;
}
	   
div li::marker{
	content:"😜";
}
	   