@import url(rainbow.css);

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button1 {
	border-radius: 8px;
}

.button-large radius{
	border-radius: 30%;
}

.red {
	background-color: #ff0000;
}

td{
	padding:20px;
}

table{
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3, h4, h5, h6{
	text-align:center;
}

.title{
	color: red;
	font-family: 'Trebuchet MS', sans-serif; 
  }
  
  .title-large {
	font-size: 2rem;
  }
  
  .title-small {
	font-size: .5rem;
  }
  
 @font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

div {
  font-family: myFirstFont;
}
#knowledge > * {
	border: 3px red solid;
   }
   p + * {
	background-color: rgb(57, 180, 120);
   }
   div li::marker{
	color: red;
   }
   p + * {
	background-color: #afaf6c;
  }
  div li::marker{
	color: rgb(157, 104, 104);
  }
  div li::marker{
	content:"! ";
  }
  #rainbow td:hover {
	background-color: rgb(0, 0, 0);
  }
  div:hover li {
	color: rgb(65, 128, 65);
  }
  div:hover {
	background-color: rgba(0, 0, 255, 0.358);
  }
  