@import url(https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap);
/* font import template */
.header{
    background-color: #373443;
    width: 100%;
}
.center{
    text-align: center;
}
.articleTitle{
    padding-top: 2%;
}
.footer{
    background-color: #373443;
    width: 100%;
}
.article{
    background-color: #373443;
}
#featuredArticles{
    display: flex;
}
.content{
    display: flex;
}