@import url(https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap);
/* font import template */
.header{
    background-color: #373443;
    height: 15%;
    width: 100%;
}
.center{
    text-align: center;
}
.articleTitle{
    padding-top: 2%;
}
.footer{
    background-color: #373443;
    height: 10%;
    width: 100%;
}
.article{
    background-color: #373443;
}
#featuredArticles{
    width: 20%;
    height: 75%;
    display: flex;
}
.content{
    width: 80%;
    display: flex;
}